.contactSection {
    text-align: center;
    padding: 80px 20px;
    background-color: #f8f9fa;
  }
  
  .subHeading {
    font-size: 14px;
    letter-spacing: 2px;
    color: #aaa;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .heading {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  
  .formContainer {
    max-width: 550px;
    margin: 0 auto; 
    background: #fff;
    padding: 60px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    height: 700px; 
    text-align: left;
    color: gray;
  }
  
  
  .formTitle {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: normal; 
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .row {
    display: flex;
    gap: 40px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  label {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 15px;
  }
  
  input,
  textarea {
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    resize: none;
  }
  
  textarea {
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    resize: both; 
    height: 150px; 
    min-height: 150px; 
    max-height: 300px;
  }
  
  button {
    background: black;
    color: white;
    padding: 12px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    width: fit-content;
    margin-top: 10px;
  }
  
  button:hover {
    background: #333;
  }