.productCards {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 70%;
}

.productMain {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.productTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 80px;
}

.productTitle h2 {
    color: #282828;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    font-size: 30px;
    font-weight: 600;
    font-family: inherit;
    line-height: 1.2;
    position: relative;
}

.productTitle h2::after {
    display: block;
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background: #fe4c50;
    content: '';
}


.cargoBox {
    width: 100%;
    background-color: #efeeee;
    display: flex;
    align-items: center;
    padding: 30px 20px;
}

.cargoBox .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between !important;

}

.cargoAbout {
    width: 25%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.cargoAbout:not(:nth-child(4)) {
    border-right: solid 1px white;
    height: 100%;
    
  }

.icons {
    font-size: 30px;
    color: #fe4c50;
    display: flex;
    align-items: center;
}

.cargoText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h6 {
        line-height: 18px;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 0px;
        color: #282828;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-transform: uppercase;
    }

    p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 0px;
        color: #51545f;
        font-weight: 500;
        font-weight: 500;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }
}